/********************************* tables css ******************************/

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-right-topleft: 4px;
}


.table-basic {
  width: 100%;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -o-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: linear-gradient(to bottom, #ffffff, #e7e7e7);
  background-image: -moz-linear-gradient(top, #ffffff, #e7e7e7);
  text-align: center;
}

.table-basic th  {
  border-color: #819c80 #819c80 #789177;

  color: #FFFFCC;
  background-color: #007236;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00823e), to(#005f2d));
  background-image: -webkit-linear-gradient(top, #00823e, #005f2d);
  background-image: -o-linear-gradient(top, #00823e, #005f2d);
  background-image: linear-gradient(to bottom, #00823e, #005f2d);
  background-image: -moz-linear-gradient(top, #00823e, #005f2d);

  background-repeat: repeat-x;
  padding: 10px 15px;
}

.table-basic, .table-basic td, .table-basic th { border-color: #919c91;}

.table-basic tr th.heading {
  text-align: left;
  font-size: 17px;
  /*text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.55);*/
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.table-basic tr.sub-heading {
  background: #ddd;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#DDDDDD));
  background-image: -webkit-linear-gradient(top, #EEEEEE, #DDDDDD);
  background-image: -o-linear-gradient(top, #EEEEEE, #DDDDDD);
  background-image: linear-gradient(to bottom, #EEEEEE, #DDDDDD);
  background-image: -moz-linear-gradient(top, #EEEEEE, #DDDDDD);
}
.table-basic tr.sub-heading td {
  border-bottom: 1px solid #c0c0c0;
}

.table-basic tr:first-child td { padding-top: 8px; }
.table-basic tr:last-child td { padding-bottom: 8px; }

.table-basic tr td {
  border-left-width: 0;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  color: #3f3f3f;
  padding: 8px 15px;
  vertical-align: top;
}

.table-basic tr td:first-child {
  text-align: right;
  border-left-width: 1px;
  width: 10%;
  white-space: nowrap;
}

.two-column tr td:first-child {
  width: 30%;
}

.two-column tr td {
  width: 70%;
}

table.eagles td {
  width: 10%;
  white-space: nowrap;
  text-align: right;
}

table.eagles td.eagle-year {
  border-right: 1px solid #e0e0e0 !important;
  text-align: left;
}